.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    background: none !important;
}

mat-form-field {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
    background: none !important;
}
  .mat-mdc-text-field-wrapper {
    background: none !important;
  }
}
  
  .example-sidenav-content {
   padding: 10px;
  }
  
  .example-sidenav {
    padding: 40px;
  }

  .mat-expansion-panel {
    background-color: transparent !important;
    background: none !important;
    box-shadow: none !important;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-expansion-panel-header {
    padding: 0 !important;
  }

  .mat-expansion-panel-body {
    padding: 0px !important;
  }

  .mat-button-toggle-group {
    margin-left: 12px;
  }

  .price-full-width {
    min-width: 50px;
    max-width: 100px;
    width: 100%;
  }
  
  .price-full-width {
    width: 100%;
  }